# String Based Problem

1 write a program to reverse a string

In [8]:
s = str(input())
print(s[::-1])

 dfsds

sdsfd

2. Check if a string is a palindrome.

In [10]:
s = str(input())
if s == s[::-1]:
    print("given string is pallindrome")
else:
    print("this is not palindrome")

 naan

given string is pallindrome

3. Convert a string to uppercase.

In [16]:
s = str(input())
print(s.upper())

 dsdsa

DSDSA

4 convert a string to lowercase

In [14]:
s = str(input())
print(s.lower())

 NMK B MK

nmk b mk

5. COUNT THE NUMBER OF THE VOWELS IN A STRING

In [21]:
s = str(input())
count = 0 
for i in s:
    if i in "aeiou":
       count =count+1
print("vowel in given string is",count)

 vishal

vowel in given string is 2

6. count the number of the consonants in a string

In [23]:
s = str(input())
count = 0 
for i in s:
    if i not in "aeiou":
       count =count+1
print("consonants",count)

 vishal

consonants 4

7. Remove all whitespaces from a string.

In [25]:
s = str(input())
s1 = s.replace(" ","")
print(s1)

 vi vi vi

vivivi

8. find the len of the string without using the len() function

In [27]:
s = str(input())
count =0
for i in s:
    count = count +1
print(count)

 vishal

6

9. Check if a string contains a specific word

In [28]:
input_string = "This is a sample sentence."
specific_word = "sample"

if specific_word in input_string:
    print(f"The string contains the word '{specific_word}'.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

The string contains the word 'sample'.

10. Replace a word in a string with another word.

In [29]:
input_string = "Hello, World! This is a sample sentence."
old_word = "sample"
new_word = "example"
output_string = input_string.replace(old_word, new_word)

print(output_string)

Hello, World! This is a example sentence.

11. Count the occurrences of a word in a string.

In [35]:
input_string = "This is a sample sentence. Sample is a word sample."
word = "sample"
print(input_string.lower().count(word))

3

12. Find the first occurrence of a word in a string.

In [36]:
input_string = "This is a sample sentence. Sample is a word sample."
word_to_find = "sample"

position = input_string.find(word_to_find)

if position != -1:
    print(f"The first occurrence of '{word_to_find}' starts at index {position}.")
else:
    print(f"'{word_to_find}' not found in the string.")

The first occurrence of 'sample' starts at index 10.

13. Find the last occurrence of a word in a string.

In [37]:
input_string = "This is a sample sentence. Sample is a word sample."
word_to_find = "sample"

# Use str.rfind() to find the last occurrence
position = input_string.rfind(word_to_find)

if position != -1:
    print(f"The last occurrence of '{word_to_find}' starts at index {position}.")
else:
    print(f"'{word_to_find}' not found in the string.")

The last occurrence of 'sample' starts at index 44.

14. Split a string into a list of words.

In [38]:
input_string = "This is a sample sentence. Sample is a word sample."
print(input_string.split())

['This', 'is', 'a', 'sample', 'sentence.', 'Sample', 'is', 'a', 'word', 'sample.']

15. Join a list of words into a string.

In [42]:
word_list = ["Hello", "World", "Python", "Programming"]
result_string = ""
for word in word_list:
    result_string += word + " "
print(result_string)
#  you can directly use jion method also 
print(' '.join(word_list))

Hello World Python Programming
Hello World Python Programming

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [3]:
vishal = "hello this is a vishal baraiya"
print(vishal.replace(" ","-"))

hello-this-is-a-vishal-baraiya

17. Check if a string starts with a specific word or phrase.

In [2]:
input_string = "Hello, world! Welcome to Python."
start_word = "Hello"
if input_string.startswith(start_word):
    print(f"The string starts with '{start_word}'.")
else:
    print(f"The string does not start with '{start_word}'.")

The string starts with 'Hello'.

In [3]:
string = "hello, this is a vishal baraky"
word = "hello"
if string[:len(word)] == word:
    print("string start with ",word)
else:
    print("string not start with ",word)

string start with  hello

18. Check if a string ends with a specific word or phrase.

In [20]:
string = "hello, this is a vishal barak0y"
word = "barak0y"
print(string[-len(word):])
if string[-len(word):]== word:
    print("string start with ",word)
else:
    print("string not start with ",word)

barak0y
string start with  barak0y

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [21]:
string = "hello world"
print(string.title())

Hello World

20. Find the longest word in a string.

In [24]:
string = "hello this is a vishalbaraiya"
li1 = string.split()
length =0
word = ""
for i in li1:
    if len(i)>=length:
        length = len(i)
        word = i
print(word)

vishalbaraiya

21. Find the shortest word in a string.

In [27]:
import math
string = "hello this is a vishalbaraiya"
li1 = string.split()
length =math.inf
word = ""
for i in li1:
    if len(i)<=length:
        length = len(i)
        word = i
print(word)

a

22. Reverse the order of words in a string.

In [28]:
string = "hello this is a vishalbaraiya"
li1 = string.split()
print(li1[::-1])

['vishalbaraiya', 'a', 'is', 'this', 'hello']

23. Check if a string is alphanumeric.

In [31]:
input_string = "Hello123"
if input_string.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

24. Extract all digits from a string.

In [33]:
input_string = "Hello123"
s=''
for i in input_string:
    if i in "0123456789":
        s = s+i
print(s)

123

25. Extract all alphabets from a string.

In [34]:
input_string = "Hello123"
s=''
for i in input_string:
    if i not in "0123456789":
        s = s+i
print(s)

Hello

26. Count the number of uppercase letters in a string.

In [42]:
input_string = "Hello Vishal Baraiya"
s=0
for i in input_string:
    if  i.isupper():
        s=s+1
print(s)

3

27. Count the number of lowercase letters in a string.

In [43]:
input_string = "Hello Vishal Baraiya"
s=0
for i in input_string:
    if  i.islower():
        s=s+1
print(s)

15

28. Swap the case of each character in a string.

In [47]:
input_string = "Hello Vishal Baraiya"
s=''
for i in input_string:
    if  i.islower():
         s = s + i.upper()
    else:
        s = s + i.lower()
print(s)

hELLO vISHAL bARAIYA

29. Remove a specific word from a string.

In [49]:
input_string = "Hello Vishal Baraiya"
print(input_string.replace("Vishal",""))

Hello  Baraiya

30. Check if a string is a valid email address.

In [60]:
email = input("enetr your email")
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
if re.match(pattern, email):
    print("your email is valid")
else:
        print("your email is not valid")

enetr your email VOI.@

your email is not valid

31. Extract the username from an email address string.

In [63]:
email = input("enetr your email")
s = ''
for i in email:
    if i == '@':
        break
    else:
        s=s+i
print(s)

enetr your email vishalbaraiya@gmail.com

vishalbaraiya

32. Extract the domain name from an email address string.

In [67]:
email = input("enetr your email")
print(email.split("@")[1])

enetr your email vishal @gmail.com

gmail.com

33. Replace multiple spaces in a string with a single space.

In [78]:
string = "vi sha l    baraiya   kanajibhai  baraiya"
print(' '.join(string.split()))

vi sha l baraiya kanajibhai baraiya

34. Check if a string is a valid URL.

In [82]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Test cases
url1 = "https://www.example.com"
url2 = "invalid-url"
url3 = "ftp://ftp.server.com"

print(f"Is '{url1}' a valid URL? {is_valid_url(url1)}")
print(f"Is '{url2}' a valid URL? {is_valid_url(url2)}")
print(f"Is '{url3}' a valid URL? {is_valid_url(url3)}")

Is 'https://www.example.com' a valid URL? True
Is 'invalid-url' a valid URL? False
Is 'ftp://ftp.server.com' a valid URL? True

35. Extract the protocol (http or https) from a URL string.

In [90]:
from urllib.parse import urlparse
url1 = "https://www.example.com"
result = urlparse(url1)
print(result.scheme)
index = url1.index('://')
print(url1[:index])

https
https

36. Find the frequency of each character in a string.

In [3]:
s = str(input())
for i in "abcdefghijklmnopqrstuvwxyz0123456789":
    print(i,s.count(i))

 vishalbaraiya1234

a 4
b 1
c 0
d 0
e 0
f 0
g 0
h 1
i 2
j 0
k 0
l 1
m 0
n 0
o 0
p 0
q 0
r 1
s 1
t 0
u 0
v 1
w 0
x 0
y 1
z 0
0 0
1 1
2 1
3 1
4 1
5 0
6 0
7 0
8 0
9 0

37. Remove all punctuation from a string.

In [8]:
s = str(input())
s1 = ''
for i in s:
    if i not in "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~":
        s1+=i
print(s1)

 vi%><> dc

vi dc

38. Check if a string contains only digits.

In [11]:
s = input()
flage = 1
for i in s:
    if i not in "0123456789":
        print("this is not contains only digits")
        flage =0
        break
if flage == 1:
    print("this is only contains digits ")

 1234

this is only contains digits

39. Check if a string contains only alphabets.

In [12]:
s = input()
flage = 1
for i in s:
    if i in "0123456789":
        print("this is not contains only alphabets")
        flage =0
        break
if flage == 1:
    print("this is only contains alphabets ")

 vishal

this is only contains alphabets

40. Convert a string to a list of characters.

In [16]:
s = input()
name = [i for i in s]
print(name)

 vishal baraiya

['v', 'i', 's', 'h', 'a', 'l', ' ', 'b', 'a', 'r', 'a', 'i', 'y', 'a']

41. Check if two strings are anagrams.

In [22]:
s = str(input())
s1 = str(input())
flage =0
for i in "abcdefghijklmnopqrstuvwxyz0123456789":
    if s.count(i) != s1.count(i):
        print("this is not anagram string ")
        flage = 1
        break
if flage == 0 :
    print("this is anagrams string")

 vishal baraiya
 baraiya vishal

this is anagrams string

42. Encode a string using a Caesar cipher.

In [12]:
s = input()
shift = int(input())
string = ''
for i in s:
    s1=''
    if i.isalpha():
        if i.isupper():
            string = string + chr(((ord(i)-ord('A')+shift)%26)+ord('A')) 
        else:
            string = string + chr(((ord(i)-ord('a')+shift)%26)+ord('a')) 
    else:
        string = string+i
print(string)

 hello123Hello
 1

ifmmp123Ifmmp

43. Decode a Caesar cipher encoded string.

In [ ]:
s = input()
shift = int(input())
string = ''
for i in s:
    s1=''
    if i.isalpha():
        if i.isupper():
            string = string + chr(((ord(i)-ord('A')-shift)%26)+ord('A')) 
        else:
            string = string + chr(((ord(i)-ord('a')-shift)%26)+ord('a')) 
    else:
        string = string+i
print(string)

 ifmmp123Ifmmp
 1

hello123Hello

44. Find the most frequent word in a string.

In [16]:
word1 = input()
word = word1.split(' ')
print(word)
d = {}
for i in word:
    if i in d:
        d[i]=d.get(i)+1
    else:
        d[i]=1
min = -1 
string = ''
for i in d.keys():
    if d[i] >= min:
        min = d[i]
        string = i 
print(string)

 visha baraiya vishal baraiya baraiya

['visha', 'baraiya', 'vishal', 'baraiya', 'baraiya']
baraiya

45. Find all unique words in a string.

In [18]:
word1 = input()
word = word1.split(' ')
d = {}
for i in word:
    if i in d:
        d[i]=d.get(i)+1
    else:
        d[i]=1
min = 1 
string = []
for i in d.keys():
    if d[i] == min:
        string.append(i)
print(string)

 vi vi na ma ba ba pa

['na', 'ma', 'pa']

46. Count the number of syllables in a string.

In [22]:
import re

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)


word1 = "hello"
word2 = "banana"
word3 = "syllable"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

47. Check if a string contains any special characters.

In [24]:
s= input()
for i in s:
    if  (i >='A' and i<='Z') or (i>='a' and i<='z') or (i<='0' and i>='9'):
        continue
    else:
        print("this string is contain speacial characters")
        break

 vishal @

this string is contain speacial characters

48. Remove the nth word from a string.

In [31]:
s = input()
n = int(input())
li = s.split()
string = ""
for i in range(len(li)):
    if i == n-1:
        continue
    else:
        string = string +" "+ li[i]
print(string.strip())

 vishal baraiyta kanaji bhai
 3

vishal baraiyta bhai

49. Insert a word at the nth position in a string.

In [32]:
s = input()
n = int(input())
word = input()
li = s.split()
string = ""
for i in range(len(li)):
    if i == n-1:
        string = string +" "+ word
        string = string +" "+ li[i]
    else:
        string = string +" "+ li[i]
print(string.strip())

 vishal baraiya bhai
 3
 kanaji

vishal baraiya kanaji bhai

50. Convert a CSV string to a list of lists.

In [37]:
data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
lines = data.split('\n')
result = []
for line in lines:
    fields = line.split(',')
    result.append(fields)
        
for row in result:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [43]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [45]:
list1 = [1,2,3,4,5,6,7,8,9,10]
count =0
for i in list1:
    count+=1
print(count)

10

3. Append an element to the end of a list.

In [48]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1.append(2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2]

4. Insert an element at a specific index in a list.

In [49]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1.insert(0,12)
print(list1)

[12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [50]:
list1.remove(12)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [51]:
list1.pop(0)
print(list1)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [53]:
if 2 in list1:
    print("element exists in list" )

element exists in list

8. Find the index of the first occurrence of an element in a list.

In [60]:
list1.append(2)
print(list1)
print("index of the list is ",list1.index(2))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 2, 2, 2, 2]
index of the list is  0

9. Count the occurrences of an element in a list.

In [61]:
list1.count(2)

6

10. Reverse the order of elements in a list.

In [62]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [64]:
list2 = list1[::-1]
print(list2)
list2.sort()
print(list2)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

12. Sort a list in descending order.

In [67]:
list1= [1,5,2,7,2,8,4,9,0]
list1.sort(reverse=True)
print(list1)
#  if you use sort then its modify in origenal value but if you use sorted then its give you new list

[9, 8, 7, 5, 4, 2, 2, 1, 0]

13. Create a list of even numbers from 1 to 20.

In [70]:
list1=[]
for i in range(20):
    if (i+1)%2 == 0:
        list1.append(i+1)
print(list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [72]:
list1=[]
for i in range(20):
    if (i+1)%2 != 0:
        list1.append(i+1)
print(list1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [76]:
list1 = [i for i in range(20)]
print(list1)
print(sum(list1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
190

16. Find the maximum value in a list.

In [80]:
list1 = [i for i in range(20)]
print(list1)
print(max(list1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
19

17. Find the minimum value in a list.

In [84]:
my_list = [4, 2, 9, 1, 5]

min_value = min(my_list)

print(f"The minimum value in the list is: {min_value}")

TypeError: 'int' object is not callable

18. Create a list of squares of numbers from 1 to 10.

In [85]:
list2 = [ i*i for i in range(1,11)]
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [95]:
import random
random_integer = [i for i in range(1,10000)]
random_integer1= random.sample(random_integer,20)
print(random_integer1)

[6651, 9937, 5435, 3460, 565, 337, 7535, 5098, 7754, 6132, 2839, 2225, 550, 3293, 4116, 4077, 918, 4532, 8252, 86]

20. Remove duplicates from a list.

In [99]:
list1= [1,2,2,3,3,4,4,3,2,5,6,7,9,4]
set = {i for i in list1}
list1 = [i for i in set]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 9]

21. Find the common elements between two lists.

In [103]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

set1 = {i for i in list1}
set2 =  {i for i in list2}

common_elements = list(set1.intersection(set2))

print(common_elements)

[3, 4, 5]

22. Find the difference between two lists.

In [105]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

set1 = {i for i in list1}
set2 =  {i for i in list2}
difference_set = list(set1.difference(set2)) + list(set2.difference(set1))
print(difference_set)

[1, 2, 6, 7]

23. Merge two lists.

In [106]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2

print(merged_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [108]:
my_list = [1, 2, 3, 4, 5]

for i in range(len(my_list)):
    my_list[i] *= 2

print(my_list)

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [2]:
my_list = [1, 2, 3, 4, 5]

for i in my_list:
     if i % 2 ==0:
            print(i)

2
4

26. Convert a list of strings to a list of integers.

In [4]:
mylist = ['1','2','3','4','5','6','7','8']
print(mylist)
for i in range(len(mylist)):
    mylist[i]=int(mylist[i])
print(mylist)

['1', '2', '3', '4', '5', '6', '7', '8']
[1, 2, 3, 4, 5, 6, 7, 8]

27. Convert a list of integers to a list of strings.

In [5]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8]
print(mylist)
for i in range(len(mylist)):
    mylist[i]=str(mylist[i])
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8]
['1', '2', '3', '4', '5', '6', '7', '8']

28. Flatten a nested list.

In [9]:
nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]
stack = list(nested_list)
newlist=[]
while stack:
        i = stack.pop()
        if type(i) is list:
            stack.extend(i)
        else:
            newlist.append(i)
print(newlist)

[8, 7, 6, 5, 4, 3, 2, 1]

29. Create a list of the first 10 Fibonacci numbers.

In [14]:
def fibonacci(number):
    a = 0
    b = 1
    if number <= 0:
        print("Invalid input")
    elif number == 1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(number - 2):
            temp = b
            b = a + b
            a = temp
            print(b)

fibonacci(10)

0
1
1
2
3
5
8
13
21
34

30. Check if a list is sorted.

In [3]:
n = int(input("enter your number how many elment whould like to insert in list "))
li1=[]
for i in range(n):
    number = int(input())
    li1.append(number) 
if li1 == sorted(li1):
    print("sorted")
else:
    print("not sorted")

enter your number how many elment whould like to insert in list  7
 1
 2
 3
 2
 4
 5
 6

not sorted

31. Rotate a list to the left by `n` positions.

In [1]:
list1 = [1,2,3,4,5,6]
n = 2 
print(list1[n:]+list1[:n])

[3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by `n` positions.

In [5]:
list1 = [1,2,3,4,5,6]
n = 2 
print(list1[len(list1)-n:]+list1[:len(list1)-n])

[5, 6, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [14]:
list1 = []
count = 0
for i in range(1000):
    if count == 50:
        break
    flage =1
    for j in range(2,int(i/2)+1):
        if i%j == 0:
            flage =0
            break
    if flage == 1:
        list1.append(i)
        count +=1
print(list1) 
print(len(list1))

[0, 1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223]
50

34. Split a list into chunks of size `n`.

In [7]:
list1 = [i for i in range(50)]
print(list1)
n = len(list1)
numbersplit = 5
temp = 0
while n>numbersplit:
    print(list1[temp:numbersplit+temp])
    temp= temp + numbersplit
    n = n-numbersplit
if n > 0:
    print(list1[temp:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[10, 11, 12, 13, 14]
[15, 16, 17, 18, 19]
[20, 21, 22, 23, 24]
[25, 26, 27, 28, 29]
[30, 31, 32, 33, 34]
[35, 36, 37, 38, 39]
[40, 41, 42, 43, 44]
[45, 46, 47, 48, 49]

35. Find the second largest number in a list.

In [12]:
import random 
list1=random.sample(range(1,40),20)
print(list1)
list1.remove(max(list1))
largest_element = max(list1)
print("The secound largest element in the list is:", largest_element)

[38, 1, 37, 2, 32, 16, 22, 21, 28, 25, 9, 15, 8, 36, 34, 12, 14, 30, 23, 19]
The secound largest element in the list is: 37

36. Replace every element in a list with its square.

In [16]:
import random 
list1=random.sample(range(1,40),20)
print(list1)
for i in range(len(list1)):
     list1[i]=int(list1[i])*int(list1[i])
print(list1)

[2, 37, 24, 10, 21, 25, 20, 23, 4, 8, 12, 15, 26, 35, 31, 6, 17, 29, 13, 32]
[4, 1369, 576, 100, 441, 625, 400, 529, 16, 64, 144, 225, 676, 1225, 961, 36, 289, 841, 169, 1024]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [19]:
list1 = [1,2,3,4,5,6]
dict1 = {}
j=0
for i in list1:
    dict1[j]=i
    j+=1
print(dict1)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

38. Shuffle the elements of a list randomly.

In [22]:
import random

my_list = [1, 2, 3, 4, 5]

random.shuffle(my_list)

print(my_list)

[3, 1, 5, 4, 2]

39. Create a list of the first 10 factorial numbers.

In [26]:
list1 = []
for i in range(0,10):
    if i==0:
        list1.append(1)
    elif i == 1 :
        list1.append(i)
    else:
        result =1
        for j in range(1,i+1):
            result *=j
        list1.append(result)
print(list1)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [35]:
list1 = [1,2,3,4,5]
list2=[5,6,7,8,9]
if len(set(list1).intersection(set(list2)))>=1:
    print("common element in your list is ",set(list1).intersection(set(list2)))

common element in your list is  {5}

41. Remove all elements from a list.

In [37]:
list1 = [1,2,3,4,5]
list1.clear()
print(list1)

[]

42. Replace negative numbers in a list with 0.

In [39]:
list1 = [-1,-2,1,2,3,4,5]
for i in range(len(list1)):
    if list1[i] < 0:
        list1[i]=0
print(list1)

[0, 0, 1, 2, 3, 4, 5]

43. Convert a string into a list of words.

In [41]:
string = "hello this is a vishal baraiya"
list1= string.split()
print(list1)

['hello', 'this', 'is', 'a', 'vishal', 'baraiya']

44. Convert a list of words into a string.

In [42]:
list1=['hello', 'this', 'is', 'a', 'vishal', 'baraiya']
string = ''
for i in list1:
     string += " " +i
print(string.strip())

hello this is a vishal baraiya

45. Create a list of the first `n` powers of 2.

In [2]:
n = int(input())
list1 = [i*i for i in range(n)]
print(list1)

 6

[0, 1, 4, 9, 16, 25]

46. Find the longest string in a list of strings.

In [10]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
word = ''
length = 0
for i in string_list:
    if len(i)>=length:
        length = len(i)
        word = i
print(word) 
print(max(string_list,key = len))

elderberry
elderberry

47. Find the shortest string in a list of strings.

In [8]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
word = ''
length = 10000
for i in string_list:
    if len(i)<=length:
        length = len(i)
        word = i
print(word) 
print(min(string_list,key = len))

date
date

48. Create a list of the first `n` triangular numbers.

In [12]:
n = 5 
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]

print(triangular_numbers)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [15]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = [2,4,6,9]
j = 0
if len(list1)< len(list2):
    print("false")
else:    
    for i in range(len(list1)):
        if list1[i] == list2[j]:
            j+=1
if j == len(list2):
    print("true")
else:
    print("false")
            
print(j,len(list2))

true
4 4

50. Swap two elements in a list by their indices.

In [17]:
my_list = [10, 20, 30, 40, 50]
index1 = 1  
index2 = 3  
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
print(my_list)

[10, 40, 30, 20, 50]

# Tuple Based Practice Problem

1. Create a tuple with integers from 1 to 5.

In [20]:
tuple1 = (1,2,3,4,5)
type(tuple1)

tuple

2. Access the third element of a tuple.

In [22]:
tuple1 = (1,2,3,4,5)
tuple1[2]

3

3. Find the length of a tuple without using the `len()` function.

In [25]:
tuple1 = (1,2,3,4,5)
count =0
for i in tuple1:
    count+=1
print(count)

5

4. Count the occurrences of an element in a tuple.

In [27]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)

count = my_tuple.count(2)

print(f"The element 2 appears {count} times in the tuple.")

The element 2 appears 3 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [29]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)
print(my_tuple.index(2))

1

6. Check if an element exists in a tuple.

In [31]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)
print(2 in my_tuple)

True

7. Convert a tuple to a list.

In [34]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)
print(type(list(my_tuple)))

<class 'list'>

8. Convert a list to a tuple.

In [36]:
my_list = [1,2,3,4,5]

print(type(tuple(my_list)))

<class 'tuple'>

9. Unpack the elements of a tuple into variables.

In [4]:
my_tuple = (1, 2, 3)

var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 1
var2: 2
var3: 3

10. Create a tuple of even numbers from 1 to 10.

In [9]:
tuple1=([i*2 for i in range(1,6)])
print(tuple1)

[2, 4, 6, 8, 10]

11. Create a tuple of odd numbers from 1 to 10.

In [11]:
tuple1=([i*2+1 for i in range(0,5)])
print(tuple1)

[1, 3, 5, 7, 9]

12. Concatenate two tuples.

In [24]:
tuple1=(1,2,3,4,5)
tuple2 = (6,7,8,9,0)
list3 = list(tuple1)
list4=list(tuple2)
list3.extend(list4)
print(tuple(list3))
# print(tuple1+tuple2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

13. Repeat a tuple three times.

In [25]:
tuple1=(1,2,3,4,5)
print(tuple1*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [26]:
my_tuple = ()

if len(my_tuple) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

15. Create a nested tuple.

In [27]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

print(nested_tuple)

((1, 2), (3, 4), (5, 6))

16. Access the first element of a nested tuple.

In [29]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

print(nested_tuple[0][0])

1

17. Create a tuple with a single element.

In [33]:
single_element_tuple = (1,)
print(single_element_tuple)

(1,)

18. Compare two tuples.

In [35]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (3, 2, 1)

if tuple1 == tuple2:
    print("tuple1 and tuple2 are equal")
else:
    print("tuple1 and tuple2 are not equal")

if tuple1 != tuple3:
    print("tuple1 and tuple3 are not equal")

if tuple1 < tuple3:
    print("tuple1 is less than tuple3")

if tuple3 > tuple1:
    print("tuple3 is greater than tuple1")

tuple1 and tuple2 are equal
tuple1 and tuple3 are not equal
tuple1 is less than tuple3
tuple3 is greater than tuple1

19. Delete a tuple.

In [36]:
my_tuple = (1, 2, 3, 4, 5)
del my_tuple

20. Slice a tuple.

In [40]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[:]

(1, 2, 3, 4, 5)

21. Find the maximum value in a tuple.

In [41]:
my_tuple = (1, 2, 3, 4, 5)
max(my_tuple)

5

22. Find the minimum value in a tuple.

In [42]:
my_tuple = (1, 2, 3, 4, 5)
min(my_tuple)

1

23. Convert a string to a tuple of characters.

In [57]:
string = "vishalbaraiya"
tuple1 = tuple(string)
print(tuple1)

('v', 'i', 's', 'h', 'a', 'l', 'b', 'a', 'r', 'a', 'i', 'y', 'a')

24. Convert a tuple of characters to a string.

In [62]:
tuple1 = ('v', 'i', 's', 'h', 'a', 'l', 'b', 'a', 'r', 'a', 'i', 'y', 'a')
string = ''
for i in tuple1:
    string +=i
print(string)

vishalbaraiya

25. Create a tuple from multiple data types.

In [63]:
mixed_tuple = (1, "hello", 3.14, True)

print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [65]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (3, 2, 1)

if tuple1 == tuple2:
    print("tuple1 and tuple2 are identical")
else:
    print("tuple1 and tuple2 are not identical")

if tuple1 == tuple3:
    print("tuple1 and tuple3 are identical")
else:
    print("tuple1 and tuple3 are not identical")

tuple1 and tuple2 are identical
tuple1 and tuple3 are not identical

27. Sort the elements of a tuple.

Tuples are immutable in Python, which means you cannot change their contents directly. However, you can sort the elements of a tuple and create a new sorted tuple from it. Here's how you can do it using the sorted() function:

In [66]:
my_tuple = (3, 1, 2, 5, 4)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(1, 2, 3, 4, 5)

28. Convert a tuple of integers to a tuple of strings.

In [68]:
my_tuple = (3, 1, 2, 5, 4)
sorted_tuple = tuple(str(i) for i in my_tuple)
print(sorted_tuple)

('3', '1', '2', '5', '4')

29. Convert a tuple of strings to a tuple of integers.

In [70]:
my_tuple = ('3', '1', '2', '5', '4')
sorted_tuple = tuple(int(i) for i in my_tuple)
print(sorted_tuple)

(3, 1, 2, 5, 4)

30. Merge two tuples.

In [72]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1+tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [74]:
nested_tuple = ((1, 2), (3, 4, 5), (6,))
stack = list(nested_tuple)
list1=[]
while stack:
        i = stack.pop()
        if type(i) is tuple:
            stack.extend(i)
        else:
            list1.append(i)
print(list1)

[6, 5, 4, 3, 2, 1]

32. Create a tuple of the first 5 prime numbers.

In [82]:
list1 = []
count =0
for i in range(2,100):
        flage =1
        if count == 5:
            break
        for j in range(2,i):
            if i%j==0:
                flage = 0
                break
        if flage == 1:
            list1.append(i)
            count+=1
print(tuple(list1))

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [110]:
tuple1 = (1, 2, 3, 2, 1)

if tuple1 == tuple1[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [111]:
squares_list = [x**2 for x in range(1, 6)]
squares_tuple = tuple(squares_list)
print(squares_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [3]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
for i in my_tuple:
    if i % 2 == 0:
        print(i)

2
4
6
8

36. Multiply all elements in a tuple by 2.

In [6]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
new_tuple = tuple(i*2 for i in my_tuple)
print(new_tuple)

(2, 4, 6, 8, 10, 12, 14, 16, 18)

37. Create a tuple of random numbers.

In [11]:
import random 
my_tuple = tuple(random.sample(range(1,40),10))
print(my_tuple)

(28, 30, 9, 6, 12, 31, 7, 22, 23, 37)

38. Check if a tuple is sorted.

In [13]:
tuple1 = (28, 30, 9, 6, 12, 31, 7, 22, 23, 37)
if tuple1 == sorted(tuple1):
    print("sorted")
else:
    print("not sorted ")

not sorted

39. Rotate a tuple to the left by `n` positions.

In [16]:
tuple1 = (28, 30, 9, 6, 12, 31, 7, 22, 23, 37)
n = 2
tuple2 = tuple1[n:]+tuple1[:n]
print(tuple2)

(9, 6, 12, 31, 7, 22, 23, 37, 28, 30)

40. Rotate a tuple to the right by `n` positions.

In [21]:
tuple1 = (28, 30, 9, 6, 12, 31, 7, 22, 23, 37)
n = 2
tuple2 = tuple1[len(tuple1)-n:len(tuple1)]+tuple1[:len(tuple1)-n]
print(tuple2)

(23, 37, 28, 30, 9, 6, 12, 31, 7, 22)

41. Create a tuple of the first 5 Fibonacci numbers.

In [23]:
fibonacci_tuple = (0, 1)
for i in range(3):
    next_fib = fibonacci_tuple[-1] + fibonacci_tuple[-2]
    fibonacci_tuple += (next_fib,)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [25]:
n = int(input("enetr tuple length "))
tuple1=tuple()
print(type(tuple1))
for i in range(n):
    inp = input()
    tuple1 = tuple1 + (inp,)
print(tuple1)

enetr tuple length  4

<class 'tuple'>

 1
 2
 3
 4

('1', '2', '3', '4')

43. Swap two elements in a tuple.

In [27]:

my_tuple = (1, 2)
element1, element2 = my_tuple
new_tuple = (element2, element1)
print(new_tuple)

(2, 1)

44. Reverse the elements of a tuple.

In [28]:
tuple1 = ('1', '2', '3', '4')
print(tuple1[::-1])

('4', '3', '2', '1')

45. Create a tuple of the first `n` powers of 2.

In [33]:
n = 10 
tuple1=tuple()
for i in range(1,11):
    tuple1 = tuple1+(i*i,)
print(tuple1)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

46. Find the longest string in a tuple of strings.

In [35]:
string_tuple = ("apple", "banana", "cherry", "date", "elderberry")
longest_string = ""
for string in string_tuple:
    if len(string) > len(longest_string):
        longest_string = string
print("The longest string is:", longest_string)

The longest string is: elderberry

47. Find the shortest string in a tuple of strings.

In [38]:
string_tuple = ("apple", "banana", "cherry", "date", "elderberry")
min(string_tuple,key = len)

'date'

48. Create a tuple of the first `n` triangular numbers.

In [40]:
print(tuple([(i*(i+1))//2 for i in range(n)]))

(0, 1, 3, 6, 10, 15, 21, 28, 36, 45)

49. Check if a tuple contains another tuple as a subsequence.

In [6]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8)
tuple2 = (1, 4, 8)
j = 0

for i in range(len(tuple1)):
    if tuple1[i] == tuple2[j]:
        j += 1
        if j == len(tuple2):
            print("subsequence")
            break

if j != len(tuple2):
    print("Not a subsequence")

subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [3]:
n = 10
tuple1 = tuple()
for i in range(n):
    if i % 2 == 0:
        tuple1 += (1,) 
    else:
        tuple1+= (0,)
print(tuple1)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [2]:
set1 = {1,2,3,4,5}
print(set1,type(set1))

{1, 2, 3, 4, 5} <class 'set'>

2. Add an element to a set.

In [4]:
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [5]:
set1.remove(6)
set1

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [6]:
if 5 in set1:
    print("yes")

yes

5. Find the length of a set without using the `len()` function.

In [7]:
count = 0 
for i in set1:
    count +=1
print(count)

5

6. Clear all elements from a set.

In [8]:
print(set1)
set1.clear()
print(set1)

{1, 2, 3, 4, 5}
set()

7. Create a set of even numbers from 1 to 10.

In [9]:
for i in range(1,11):
    if i % 2==0:
        set1.add(i)
print(set1)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [10]:
set1.clear()
for i in range(1,11):
    if i % 2!=0:
        set1.add(i)
print(set1)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [13]:
set2 = {0,2,4,6,8}
print(set1.union(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

10. Find the intersection of two sets.

In [15]:
set2 = {0,2,4,6,8,1}
print(set1.intersection(set2))

{1}

11. Find the difference between two sets.

In [18]:
print(set1,set2)
print(set1-set2)
# set1.difference(set2)

{1, 3, 5, 7, 9} {0, 1, 2, 4, 6, 8}
{9, 3, 5, 7}

{3, 5, 7, 9}

12. Check if a set is a subset of another set.

In [23]:
set1 = {1,2,3,4,5,6}
set2={1,2,3}
set2.issubset(set2)

True

14. Create a set from a list.

In [24]:
list1 = [1,2,3,4,5,6,7]
print(set(list1))

{1, 2, 3, 4, 5, 6, 7}

15. Convert a set to a list.

In [26]:
set1 = {1,2,3,4,5,6}
print(list(set1))

[1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [28]:
set1 = {1,2,3,4,5,6}
number = 4 
set1.remove(number)
set1

{1, 2, 3, 5, 6}

17. Pop an element from a set.

In [32]:
set1 = {1,2,3,4,5,6}
print(set1.pop())
print(set1)

1
{2, 3, 4, 5, 6}

18. Check if two sets have no elements in common.

In [34]:
set1.isdisjoint(set2)

False

19. Find the symmetric difference between two sets.

In [35]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

symmetric_diff = set1.symmetric_difference(set2)

print("Symmetric difference:", symmetric_diff)

Symmetric difference: {1, 2, 6, 7}

21. Create a set of the first 5 prime numbers.

In [41]:
set1 = {2}
count = 1
for i in range(3,100):
    flage = 1
    for j in range(2,i):
        if i%j == 0 :
            flage = 0
            break
    if flage == 1:
        set1.add(i)
        count+=1
    if count == 5:
        break
print(set1)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [42]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [43]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)
print("Original set:", my_set)
print("Frozen set:", my_frozen_set)

Original set: {1, 2, 3, 4, 5}
Frozen set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [44]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("set1 and set2 are disjoint (they have no elements in common).")
else:
    print("set1 and set2 have elements in common.")

set1 and set2 are disjoint (they have no elements in common).

25. Create a set of squares of numbers from 1 to 5.

In [45]:
set1 = {1, 2, 3}
print({i*i for i in set1})

{1, 4, 9}

26. Filter out all even numbers from a set.

In [46]:
set1 = {1, 2, 3}
print({i for i in set1 if i %2 == 0})

{2}

27. Multiply all elements in a set by 2.

In [47]:
set1 = {1, 2, 3}
print({i*2 for i in set1 })

{2, 4, 6}

28. Create a set of random numbers.

In [49]:
import random
set1 = set(random.sample(range(1,20),10))
print(set1)

{2, 4, 6, 7, 9, 13, 15, 16, 17, 19}

29. Check if a set is empty.

In [51]:
set1 = set()
if len(set1) == 0:
    print("empty set ")
else:
    print("not emplty set")

empty set

30. Create a nested set (hint: use frozenset).

In [59]:
nested_set = {frozenset({1, 2, 3}), frozenset({4, 5, 6})}

for sub_set in nested_set:
    print(sub_set)

frozenset({1, 2, 3})
frozenset({4, 5, 6})

31. Remove an element from a set using the discard method.

In [60]:
set1 = {1, 2, 3}
set1.discard(3)
set1

{1, 2}

32. Compare two sets.

In [61]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

33. Create a set from a string.

In [62]:
string = "vishal"
set1 = set(string)
set1

{'a', 'h', 'i', 'l', 's', 'v'}

34. Convert a set of strings to a set of integers.

In [65]:
set1 = {'1','2','3','4','5'}
set2 = set()
for i in set1:
    set2.add(int(i))
print(set2)

{1, 2, 3, 4, 5}

36. Create a set from a tuple.

In [66]:
tuple1 = (1,2,3,4,5)
set1 = set(tuple1)
set1

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [67]:
tuple({1, 2, 3, 4, 5})

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [69]:
max(set1)

5

39. Find the minimum value in a set.

In [70]:
min(set1)

1

40. Create a set from user input.

In [1]:
set1 = set()
for i in range(10):
    inp = input()
    set1.add(inp)
set1

 1
 2
 3
 4
 5
 6
 7
 8
 9
 0

{'0', '1', '2', '3', '4', '5', '6', '7', '8', '9'}

41. Check if the intersection of two sets is empty.

In [2]:
set1={1,2,3,4}
set2={5,6,7,8}
if len(set1.intersection(set2))==0:
    print("intersection of set is empty")
else:
    print("intersection of two set was not epmty")

intersection of set is empty

42. Create a set of the first 5 Fibonacci numbers.

In [1]:
set1 = {0,1}
a=0
b=1
for i in range(3):
    set1.add(a+b)
    temp = a
    a=b
    b = temp +a
set1

{0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [2]:
list1 = [1,2,2,2,3,4,5,6]
list1 = list(set(list1))
list1

[1, 2, 3, 4, 5, 6]

44. Check if two sets have the same elements, regardless of their count.

In [4]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets are equivalent (have the same elements).")
else:
    print("The sets are not equivalent ")

The sets are equivalent (have the same elements).

45. Create a set of the first `n` powers of 2.

In [8]:
n=10
set1 = {i*i for i in range(n)}
set1

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

46. Find the common elements between a set and a list.

In [9]:
list1 = [1,2,3,4]
set1 = {1,2,3,5}
print(set1.intersection(set(list1)))

{1, 2, 3}

47. Create a set of the first `n` triangular numbers.

In [10]:
print({(i*(i+1))//2 for i in range(10)})

{0, 1, 3, 36, 6, 10, 45, 15, 21, 28}

48. Check if a set contains another set as a subset.

In [11]:
set1 = {1,2,3,4}
set2={1,2}
print(set2.issubset(set1))

True

49. Create a set of alternating 1s and 0s of length `n`.

In [12]:
n = 10  # Replace with your desired length
alternating_set = set()

for i in range(n):
    alternating_set.add(i % 2)

print(alternating_set)

{0, 1}

50. Merge multiple sets into one.

In [13]:
set1 = {1,2,3,4,5}
set2 = {1,6,7,8}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}