# basic level

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [6]:
list1 = [1,2,3,4,5,6]
sum =0
for i in list1:
    sum +=i
print(i)

6

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [12]:
string = "vishal bafraiya"
string1 = ''
for i in range(len(string)):
    string1 += string[len(string)-i-1]
print(string1)

ayiarfab lahsiv

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [14]:
n  = 10 
fac = 1
for i in range(1,n+1):
    fac=fac+i
print(fac)

56

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [20]:
n = 23
for i in range(1,11):
    print(n*i)

23
46
69
92
115
138
161
184
207
230

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [23]:
list1 = [1,2,3,4,5,6,7,8,9]
for i in list1:
    if i % 2 == 0:
        print(i,"enen number ")
    else:
        print(i,"odd number ")

1 odd number
2 enen number
3 odd number
4 enen number
5 odd number
6 enen number
7 odd number
8 enen number
9 odd number

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [25]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [28]:
count = 0 
string = "vishal"
for i in string:
    count = count + 1
print(count)

6

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [31]:
list1 = [1,2,3,4,5]
sum = 0
for i in list1:
    sum+=i
print(sum/len(list1))

3.0

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [2]:
a = 0 
b = 1
n = 7 
print(a)
print(b)
for i in range(8):
    print(a+b)
    temp = a
    a=b
    b = temp + b

0
1
1
2
3
5
8
13
21
34

# Intermediate Level:

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [10]:
list1 = [1,2,3,4,5,6,7,7]
set1 = set()
flage = 0
for i in list1:
    if i in set1:
        print("list contains duplicate element")
        flage = 1
        break
    else:
        set1.add(i)
if flage == 0 :
    print("list have not duplicate element ")

list contains duplicate element

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [30]:
n = 13
for i in range(n+1):
    if i == 0:
        continue
    elif i == 1:
        continue
    else:
        flage = 0
        for j in range(2,i-1):
          #  print(i,j)
            if i % j == 0:
                flage = 1
                break
        if flage == 0:
            print(i)

2
3
5
7
11
13

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [31]:
string = input()
count = 0
for i in string:
    if i in "aeiou":
        count +=1
print(count)

 vishalbaraiya

6

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [32]:
list1 = [[1,2,3,4],[6,7,8,9],[12,34,5,6,7],[90,89,67]]
maxn = 0
for i in list1:
    for j in i:
        if maxn <=j:
            maxn=j
print(maxn)

90

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [35]:
list1 = [1,2,3,4,5,6]
element1 = 2 
list2 = []
for i in list1:
    if i != element1:
        list2.append(i)
print(list2)

[1, 3, 4, 5, 6]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [2]:
for i in range(1,6):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
list1 = [12,30,45,55,90,89,87]
for i in list1:
    Fe = (i*(9/5)) + 32 
    list1.append(Fe)

18. Create a program to print the common elements from two lists using a `for` loop.

In [2]:
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
for i in list1:
    if i in list2:
        print(i)

4
5

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [8]:
for i in range(6):
        print("*" *i)

*
**
***
****
*****

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [13]:
num = 60
num1 = 40
ans = 1
if num >num1:
    for i in range(1,num+1):
        if num%i==0 and num1%i == 0:
            if ans <= i:
                ans = i
else:
      for i in range(1,num1+1):
        if num%i==0 and num1%i == 0:
            if ans <= i:
                ans = i
print(ans)

20

# Advanced Level:

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [18]:
num = 12345
sum1 = 0
while num >0:
    temp = num %10
    num = num//10
    sum1 = sum1+ temp
print(sum1)

15

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [13]:
list1 = []
num = 90
div = 2 
while div <= num:
    if num%div == 0 :
        print(div,num) 
        list1.append(div)
        num = num//div
    else:
        div += 1
print(list1)

2 90
3 45
3 15
5 5
[2, 3, 3, 5]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [17]:
list1 = [1,2,3,4,5,6,7,1,2,3]
new_list = []
for i in list1:
    if list1.count(i) == 1:
        new_list.append(i)
print(new_list)

[4, 5, 6, 7]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [21]:
n = int(input())
list1 = []
for i in range(n):
    num = str(i)
    if num == num[::-1]:
        list1.append(i)
print(list1)

 999

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989]

25. Write a program to flatten a nested list using list comprehension.

In [6]:
list1 = [[1,2,3],[1234,2,5,6,[2,3,56,9]]]
stack = list(list1)
list2=[]
while stack:
    element = stack.pop()
    if type(element) == list:
        stack.extend(element)
    else:
        list2.append(element)
print(list2)

[9, 56, 3, 2, 6, 5, 2, 1234, 3, 2, 1]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [9]:
list1 = [i for i in range(30)]
odd = 0
even = 0
for i in list1:
    if i %2 == 0:
        odd += i
    else:
        even += i
print("sum of the even number is ", even , "sum of the odd number is ",odd)

sum of the even number is  225 sum of the odd number is  210

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [10]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2=[]
for i in list1:
    if i % 2 == 0:
        list2.append(i*i)
print(list2)

[4, 16, 36, 64, 100]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [11]:
list1 = ["name1","name2","name3","name4"]
list2 = ["vishal","baraiya","nayan","mori"]
dict1 = dict()
for i in range(len(list1)):
    dict1[list1[i]]= list2[i]
print(dict1)

{'name1': 'vishal', 'name2': 'baraiya', 'name3': 'nayan', 'name4': 'mori'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [1]:
string = input()
list1 = []
for i in string:
    if i in "AEIOUaeiou":
        list1.append(i)
print(list1)

 bhargav

['a', 'a']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [16]:
temp = "vishalbaraiya583943ndjfn45"
string =''
for i in temp:
    if i in "0123456789":
        string +=i
print(string)

58394345

# Challenge Level:

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [3]:
def sieve_eratosthenes(n):
    is_prime = [True] * (n + 1)
    is_prime[0] = is_prime[1] = False 

    for current_number in range(2, int(n**0.5) + 1):
        if is_prime[current_number]:
            for multiple in range(current_number * current_number, n + 1, current_number):
                is_prime[multiple] = False

    primes = [number for number, is_prime_number in enumerate(is_prime) if is_prime_number]

    return primes

limit = int(input("Enter the upper limit to generate prime numbers: "))
prime_numbers = sieve_eratosthenes(limit)
print("Prime numbers up to {}:".format(limit))
print(prime_numbers)

Enter the upper limit to generate prime numbers:  9

Prime numbers up to 9:
[2, 3, 5, 7]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [2]:
def generate_pythagorean_triplets(limit):
    triplets = [(a, b, c) for a in range(1, limit + 1)
                            for b in range(a, limit + 1)
                            for c in range(b, limit + 1)
                            if a**2 + b**2 == c**2]
    return triplets

limit = int(input("Enter the limit for Pythagorean triplets: "))

pythagorean_triplets = generate_pythagorean_triplets(limit)
print("Pythagorean triplets up to {}:".format(limit))
for triplet in pythagorean_triplets:
    print(triplet)

Enter the limit for Pythagorean triplets:  18

Pythagorean triplets up to 18:
(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(8, 15, 17)
(9, 12, 15)

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [5]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
for i in list1:
    for j in list2:
        print([i,j])

[1, 5]
[1, 6]
[1, 7]
[1, 8]
[2, 5]
[2, 6]
[2, 7]
[2, 8]
[3, 5]
[3, 6]
[3, 7]
[3, 8]
[4, 5]
[4, 6]
[4, 7]
[4, 8]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [7]:
list1 = [1,2,3,4,5,6,2]
sum1 = 0
for i in list1:
     sum1 += i
print("mean",sum1/len(list1))
list1.sort()
if len(list1) % 2 != 0:
    print("meadian",list1[len(list1)//2])
else:
    print("meadian",(list1[(len(list1)//2)-1]+list1[(len(list1)//2)])/2)
count = 0
number = 0
for i in list1:
    if list1.count(i) >= count:
        count = list1.count(i)
        number = i
print("mode",number)

mean 3.2857142857142856
meadian 3
mode 2

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [4]:
def generate_pascals_triangle(num_rows):
    pascals_triangle = [[1]]

    for _ in range(1, num_rows):
        previous_row = pascals_triangle[-1]
        new_row = [1] + [previous_row[i] + previous_row[i + 1] for i in range(len(previous_row) - 1)] + [1]
        pascals_triangle.append(new_row)

    return pascals_triangle

num_rows = int(input("Enter the number of rows for Pascal's triangle: "))

pascals_triangle = generate_pascals_triangle(num_rows)
for row in pascals_triangle:
    print(" ".join(map(str, row)))

Enter the number of rows for Pascal's triangle:  8

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
1 7 21 35 35 21 7 1

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [21]:
factorial = []
sumofdigits = []
for i in range(1,6):
    mul = 1
    if i == 0:
        factorial.append(1)
    elif i == 1:
        factorial.append(1)
    else:
        for j in range(1,i+1):
            mul *= j
    factorial.append(mul) 
for i in factorial:
    sum1 =0
    for j in str(i):
        sum1 +=int(j)
    sumofdigits.append(sum1)
print(sumofdigits)
print(factorial)

[1, 1, 2, 6, 6, 3]
[1, 1, 2, 6, 24, 120]

37. Write a program that finds the longest word in a sentence using list comprehension.

In [41]:
string = "hello this is a vishalbaraiya"
list2 = string.split()
word = ''
count = 0 
for i in list2:
    if len(i) >= count:
        count = len(i)
        word = i
print(i)

vishalbaraiya

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [28]:
list1 = ["vishal","vishalbaraiya","paresh","pradipjaliya","kartikp"]
list2 = []
for i in list1:
    count =0
    for j in i:
        if j in "AEIOUaeiou":
            count+=1
    if count  >= 3:
        list2.append(i)
print(list2)

['vishalbaraiya', 'pradipjaliya']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [30]:
list1 = [i for i in range(1,1001)]
list2 = []
for i in list1:
    sum1 = 0
    for j in str(i):
        sum1 += int(j)
    list2.append(sum1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [36]:
list2 = []
for i in range(1,1001):
    if i == 0 or i == 1 :
        continue
    else:
        flage = 1
        for j in range(2,i):
            if i%j == 0:
                flage = 0
                break
        if flage == 1:
            list2.append(i)

list34 = []
for i in list2:
    if str(i) == str(i)[::-1]:
        list34.append(i)
print(list34)

[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]